.contactMain {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contactSection {
	text-align: center;
	width: 500px;
}

.contactSection h3 {
	font-size: var(--fontsize-h3);
}

.contactSection p {
	font-size: var(--fontsize-general);
}

.contactSection ul {
	display: inline-flex;
	text-align: center;
	gap: 1.25em;
	padding: var(--spacing-none);
}

.contactSection ul li {
	list-style-type: none;
	font-size: var(--fontsize-general);
}

.contactIcons {
	width: 30px;
	height: 30px;
	background-color: white; /*?*/
}
