:root {
	--primary-bgcolor-blue: #1f2260;
	--primary-bgcolor-purple: #432b2b;

	/* --secondary-bgcolor-blue: ;
	--secondary-bgcolor-purple: ; */

	--primary-color-blue: #000;
	--primary-color-purple: #1e1e1e;

	--secondary-color-blue: #fff;
	--secondary-color-purple: #1e1e1e;
}
