:root {
	--default-bg-color: #f3f3f3;

	--primary-bgcolor-blue: #1f2260;
	--primary-bgcolor-purple: #432b2b;

	--primary-color-blue: #000;
	--primary-color-purple: #1e1e1e;

	--secondary-color-blue: #fff;
	--secondary-color-purple: #f3f3f3;
}
