.navHeader {
	height: 100px;
	background-color: var(--primary-bgcolor-blue);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-medium) var(--spacing-large);
}

/* Replace with real logo at some point */
.navHeader h1 {
	border: 3px solid white;
	border-radius: 50%;
	padding: var(--spacing-small);
	color: var(--secondary-color-blue);
}

/* Nav items */
.navUl {
	list-style-type: none;
	padding: var(--spacing-none);
}

.navUl li {
	padding: var(--spacing-medium);
	display: inline-block;
}

/* Anchor / NavLink */
a {
	color: var(--secondary-color-blue);
	text-decoration: none;
	font-size: var(--fontsize-general);
}

a:hover,
a:focus {
	text-decoration: underline;
	color: var(--primary-color-blue);
}
