.footer {
	/* background-color: #1f2260; BLUETHEME */
	background-color: #432b2b;

	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footerH3 {
	color: white;
	/* background-color: red; */
	padding: 10px;
}
