/* Something is not right with the footer? Height doesn't work?*/

.footer {
	background-color: var(--primary-bgcolor-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerH3 {
	color: var(--secondary-color-blue);
	font-size: var(--fontsize-general);
	margin: var(--spacing-none);
}
