.footer {
	background-color: #1f2260;
	/* background-color: #432b2b; */

	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footerH3 {
	color: white;
	padding: 10px;
}
