.aboutMain {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* gap: 100px; */
}

.aboutSection {
	width: 500px;
	text-align: center;
}

.aboutSection h3 {
	font-size: var(--fontsize-h3);
}

.aboutSection p {
	text-align: left;
	font-size: var(--fontsize-general);
}

.aboutSection table {
	margin: var(--spacing-auto);
}

.aboutSection td {
	padding: var(--spacing-small);
	font-size: var(--fontsize-general);
}
